html
  head
    title Order Form
    //- div 
    //-   include ../partials/header	
    style.
      body {
      background-color: lightblue;
      }
      .column {
      float: left;
      }
      .left{
      width: 10%;
      }
      .right {
      width: 25%;
      }
      .middle {
      width: 65%;
      }  
  body(onload='init()') 
    include ../partials/header
    br
    select#restaurant-select
    br
    br
    #info
    #main
      #left.column.left
      #middle.column.middle
      #right.column.right
    script(src='orderform.js')