doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script
            include ../public/login.js
        title Users
    body 
    include ../partials/header
    br
    p Users
    hr
    p Search: 
        input#search(type="textbox")
        button#submit(type='button' onclick= 'search()') Search   
    div#result
        each users in user
            if(!users.privacy)
                a(href="/users/"+users._id) #{users.username}
                br    